"*":
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    disabledPackages: [
      "gometalinter-linter"
      "autocomplete-snippets"
    ]
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "594d4244-6314-c9dd-b858-b2fc4d4ee3bf"
  welcome:
    showOnStartup: false
