"*":
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    disabledPackages: [
      "autocomplete-snippets"
    ]
    telemetryConsent: "no"
    useCustomTitleBar: true
  editor:
    fontSize: 12
    scrollPastEnd: true
    tabLength: 4
  "exception-reporting":
    userId: "594d4244-6314-c9dd-b858-b2fc4d4ee3bf"
  "go-plus":
    disabledBundledPackages: [
      "linter"
    ]
    get: {}
    lint:
      args: [
        "--disable-all"
      ]
  "tester-go":
    coverageHighlightMode: "disabled"
  "vim-mode-plus":
    useClipboardAsDefaultRegister: false
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
